
.navbar {
	text-transform: uppercase;
	padding-top: 10px;
}
.navbar li {
	display: inline;
	padding: 15px 10px;
}

#scene {
	padding: 15px;
}

#signup_box {
	border: 2px solid darkred;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	position: absolute;
	z-index: 100;
}

.search-box ul div{
	border: 2px solid black;
	margin: 5px;
	padding: 5px;	
	/*webkit-padding-start: 5px;*/
}

.result-Display {
	/*background-color: pink;*/
	height: 10%;
	width: 100%; 
}

#search {
	margin: 10px;
	position: relative;
	left:1%;
	top:1%;
	z-index: 2;
}
.canvas-container {
	width: 80%;
	height: 80%;
}

#canvas { 
	/*display:block; */
	margin:1em auto;
	border:1px solid black; 
	width: 90%;
	height: 90%;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 1;

}

@media 	(max-width: 768px){ 
	.navbar {
		text-transform: uppercase;
		/*background-color: blue;*/
		/*background-color: canvasToFullDisplay;*/

	}
	.navbar li {
		display: inline;
		padding: 20px 20px;
	}
	#uu_logo {
		height: 30%;
		width: 30%;
	}
	body {
		/*background-color: blue;*/
	}
}
@media (min-width: 769px){ 
	.navbar {
		text-transform: uppercase;
		/*background-color: green;*/
	}
	.navbar li {
		display: inline;
		padding: 15px 10px;
	}
	#uu_logo {
		height: 40%;
		width: 40%;
	}
	body {
		/*background-color: green;*/
	}
}